html{
    font-family: 'Veranda',;
    background-color:grey);
    font-size: 20
    px;
}

h1{
    text-align: center;
    font-size: 90px;
    color: brown;
}
h3{
    color: red
    text-align: center;
}
body{
    text-align: center
}



